
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,800;1,600&display=swap');
*{font-family: 'Work Sans', sans-serif;}

header{background: rgba(255, 144, 14, 0.10);
padding: 50px 240px;}

nav{display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-tittle{font-size: 45px;
    font-weight: 700;

}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: black;
}
.brand{
    text-align: center;
    font-size: 64px;
    font-weight: 700;}
 .banner title{text-align: center;}
 .banner description{font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
 }   
.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    cursor: pointer;
    background: #FF900E;
    padding: 20px 15px;
}

.team-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
   gap: 24px;
    grid-template-columns: repeat(2 , 1fr);
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-tittle{
    font-size: 45px;
    font-family: Work Sans
}
.team-tittle .quick-list{
    color: var(--Dark-03, #727272);
    font-weight: 500;

}
.team-tittle .of-our{
    color: var(--Dark-01, #131313);
    font-weight: 700;

}
.team-tittle .Features{color: #FF900E;
    font-weight: 700;
}
.team-content .team-description{
    width: 537px;
    color:#727272;
    font-size: 2px;
    font-weight: 400;
    line-height: 26px; 
}









/* responsive media queries */
@media screen and(max-width: 576px) {
    header{
        padding: 20px;
    }    
    nav,.team-container
    
    {flex-direction: column;}
    
.teams-img-container{grid-template-columns:repeat(1 , 1fr) ;}
    

}
/* medium devices */
@media  screen and(min-width:576px)and(max-width: 960px) {
    header{
        padding: 20px;
    }    
    nav{flex-direction: column;}
}